@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}


html,
body {
  @apply bg-white dark:bg-gray-950;
  margin: 0;
  min-width: 280px;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}